@{
	ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/Asset/Inlinecss/home.css" type="text/css" />
<div id="barba-wrapper">
	<div class="barba-container home page" data-namespace="page_home" data-page-color="">
		<div class="homeVisualWrapper">
			<div class="homeVisual" id="slider">
				<ul class="slides">
					<li>
						<div class="homeVisual__image linkTo lazy" data-src="Asset/uploads/2020/05/LTL_Zero-Microx_home.jpg">
							<a class="linkFrom"
							   href=""></a>
						</div>
					<li>
						<div class="homeVisual__image linkTo lazy"
							 data-src="Asset/uploads/2018/09/visual_sunplano.jpg">
							<a class="linkFrom"
							   href=""></a>
						</div>

							@*<li>
								<div class="homeVisual__image linkTo lazy"
							 data-src="Asset/uploads/2019/04/home-academy-1920x900.jpg">
							<a class="linkFrom"
							   href="academy/index.html"></a>
						</div>*@
					 <li>
						<div class="homeVisual__image linkTo lazy"
							 data-src="Asset/uploads/2018/09/visual_icon-1.jpg">
							<a class="linkFrom"
							   href=""></a>
						</div>
					<li>
						<div class="homeVisual__image linkTo lazy"
							 data-src="Asset/uploads/2018/09/visual_flashtomirror.jpg">
							<a class="linkFrom"
							   href=""></a>
						</div>
					<li>
						<div class="homeVisual__image linkTo lazy"
							 data-src="Asset/uploads/2018/09/visual_eyeclass.jpg">
							<a class="linkFrom"
							   href=""></a>
						</div>
					<li>
						<div class="homeVisual__image linkTo lazy" data-src="Asset/uploads/2019/08/VisionTogether-4K-grigio.jpg">
							<a class="linkFrom" href=""></a>
						</div>
				</ul>
			</div>
			<div class="homeCar" id="carousel">
				<ul class="slides">
					<li class="linkTo" data-color="#E3B55C">
						<div class="container no-padding">
							<div class="homeVisual__block visualBlock no-prod"
								 style="color: #E3B55C; fill: #E3B55C">
								<hr class="homeVisual__sep" style="background-color: #E3B55C" />
								<h3 class="homeVisual__title ">Zero Microx</h3><em class="homeVisual__sub">
									Stay
									clean, stay safe.
								</em><a class="homeVisual__link arrowLink text-uppercase linkFrom"
										href="">
									Find out more
									<svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
									<g>
									<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
											</g>
										</svg>
								</a>
							</div>
						</div>
					</li>
					<li class="linkTo" data-color="#E3B55C">
						<div class="container no-padding">
							<div class="homeVisual__block visualBlock prod" style="color: #E3B55C; fill: #E3B55C">
								<hr class="homeVisual__sep" style="background-color: #E3B55C" />
								<h3 class="homeVisual__title boldTitle">Sun Plano Mirror Mat</h3><em class="homeVisual__sub">Free the colour</em><a class="homeVisual__link arrowLink text-uppercase linkFrom"
																																					href="">
									Find out more
									<svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
									<g>
									<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
											</g>
										</svg>
								</a>
							</div>
						</div>
					</li>
					<li class="linkTo" data-color="#E3B55C">
						<div class="container no-padding">
							<div class="homeVisual__block visualBlock prod" style="color: #E3B55C; fill: #E3B55C">
								<hr class="homeVisual__sep" style="background-color: #E3B55C" />
								<h3 class="homeVisual__title boldTitle">LTL Academy</h3><em class="homeVisual__sub">The answers to your questions</em><a class="homeVisual__link arrowLink text-uppercase linkFrom"
																																						 href="">
									Find out more
									<svg baseProfile="tiny"
										 xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
									<g>
									<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
											</g>
										</svg>
								</a>
							</div>
						</div>
					</li>
					<li class="linkTo" data-color="#E3B55C">
						<div class="container no-padding">
							<div class="homeVisual__block visualBlock prod" style="color: #E3B55C; fill: #E3B55C">
								<hr class="homeVisual__sep" style="background-color: #E3B55C" />
								<h3 class="homeVisual__title boldTitle">Icon</h3><em class="homeVisual__sub">
									The
									nowadays progressive
								</em><a class="homeVisual__link arrowLink text-uppercase linkFrom"
										href="">
									Find out more
									<svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
									<g>
									<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
											</g>
										</svg>
								</a>
							</div>
						</div>
					</li>
					<li class="linkTo" data-color="#E3B55C">
						<div class="container no-padding">
							<div class="homeVisual__block visualBlock prod" style="color: #E3B55C; fill: #E3B55C">
								<hr class="homeVisual__sep" style="background-color: #E3B55C" />
								<h3 class="homeVisual__title boldTitle">Flash to Mirror</h3><em class="homeVisual__sub">Bring your lenses to the next level</em><a class="homeVisual__link arrowLink text-uppercase linkFrom"
																																		   href="">
									Find
									out more
									<svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
									<g>
									<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
											</g>
										</svg>
								</a>
							</div>
						</div>
					</li>
					<li class="linkTo" data-color="#E3B55C">
						<div class="container no-padding">
							<div class="homeVisual__block visualBlock prod" style="color: #E3B55C; fill: #E3B55C">
								<hr class="homeVisual__sep" style="background-color: #E3B55C" />
								<h3 class="homeVisual__title boldTitle">Contact Lenses</h3><em class="homeVisual__sub">Advanced Tenchnologies for your eyes</em><a class="homeVisual__link arrowLink text-uppercase linkFrom"
																																								   href="">
									Find out more
									<svg baseProfile="tiny"
										 xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
									<g>
									<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
											</g>
										</svg>
								</a>
							</div>
						</div>
					</li>
					<li class="linkTo" data-color="#E3B55C">
						<div class="container no-padding">
							<div class="homeVisual__block visualBlock no-prod"
								 style="color: #E3B55C; fill: #E3B55C">
								<hr class="homeVisual__sep" style="background-color: #E3B55C" />
								<h3 class="homeVisual__title ">LTL </h3><em class="homeVisual__sub">
									Vision
									together
								</em><a class="homeVisual__link arrowLink text-uppercase linkFrom"
										href="">
									Find out more
									<svg baseProfile="tiny"
										 xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
									<g>
									<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
											</g>
										</svg>
								</a>
							</div>
						</div>
					</li>
				</ul>
				<div class="container homeVisual__staticBlockWrapper no-padding">
					<span class="homeVisual__bg"></span>
					<div class="homeVisual__staticBlock visualBlock"></div>
				</div>
			</div>
		</div>
		<div class="homeMain container no-padding">
			<span id="home_main_trigger"></span>
			<div class="col-sm-6 col-md-5 no-padding-left homeMain__txt">
				<h1 class="homeMain__title title">Our vision</h1>
				<div class="homeMain__text text">
					<p>
						We are the leading Italian company in the production and sales of finished and semi-finished
						ophthalmic lenses. Ours is a “vision together” approach, conveying both the completeness of
						what we offer and an affinity with the needs of our customers. What we offer goes beyond
						technology, sales or the product itself, because it originates in and is developed from the
						relationship we build with our customers. A way that has resulted in well over 20 million
						pieces a year, sold all over the world. Not just personalised logistics solutions, but also
						total product personalisation, marketing support and a system integrator service.
					</p>
				</div><a class="homeVisual__link arrowLink arrowLink--red homeQual__link text-uppercase"
						 href="https://www.ltllenses.it/azienda/">
					Find out more
					<svg baseProfile="tiny"
						 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
						 y="0px" viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
					<g>
					<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
							</g>
						</svg>
				</a>
			</div>
			<div class="col-sm-5 col-md-5 pull-right col-sm-pull-1 homeMain__lenses">
				<img class="homeMain__small_lens lazy" id="small_lens"
					 src="~/Asset/images/anim_lente_right.png" />
			     <img class="homeMain__big_lens lazy" id="big_lens" src="~/Asset/images/anim_lente_left.png" />
			</div>
		</div>
		<div class="homeProducts no-padding">
			<div class="homeProducts__oftalmiche homeProd clearfix">
				<div class="container">
					<div class="homeProd__listBlock col-sm-5 col-md-4 no-padding">
						<h2 class="title homeProd__title">Clear Lenses</h2>
						<div class="text homeProd__list">
							<p>
								Finished, Semifinished and RX lenses, carefully tested and verified at every stage of
								production, following the highest market standards.
							</p>
						</div>
					</div>
					<div class="homeProd__gal col-sm-7 col-md-8 no-padding">
						<span class="homeProd__trigger"></span>
						<div class="homeProdSlider">
							<ul class="slides">
								<li class="lazy linkTo"
									data-src="Asset/uploads/2018/05/evolution_visual.jpg"
									data-color="#E3B55C">
									<div class="homeProdSlider__wrapper">
										<hr class="homeProdSlider__sep" /><a class="linkFrom"
														 href="">
											<h3 class="homeProdSlider__title boldTitle">1.6 Evolution</h3>
										</a>
									</div>
								</li>
								<li class="lazy linkTo"
									data-src="Asset/uploads/2019/04/academy-bluecut.jpg"
									data-color="#487abb">
									<div class="homeProdSlider__wrapper">
										<hr class="homeProdSlider__sep" /><a class="linkFrom"
														 href="">
											<h3 class="homeProdSlider__title boldTitle">Blue cut</h3>
										</a>
									</div>
								</li>
								<li class="lazy linkTo"
									data-src="Asset/uploads/2019/12/academy_drive-concept.jpg"
									data-color="#E3B55C">
									<div class="homeProdSlider__wrapper">
										<hr class="homeProdSlider__sep" /><a class="linkFrom"
														 href="">
											<h3 class="homeProdSlider__title boldTitle">Nocturna</h3>
										</a>
									</div>
								</li>
							</ul><span class="homeProdSlider__bg"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="homeProducts__solare homeProd clearfix">
				<div class="container">
					<div class="homeProd__listBlock col-sm-5 col-md-4 no-padding">
						<h2 class="title homeProd__title">Sun Lenses</h2>
						<div class="text homeProd__list">
							<p>
								A wide range of available colors in different materials, studied and proposed to
								satisfy all the requests.
							</p>
						</div>
					</div>
					<div class="homeProd__gal col-sm-7 col-md-8 no-padding">
						<span class="homeProd__trigger"></span>
						<div class="homeProdSlider">
							<ul class="slides">
								<li class="lazy linkTo"
									data-src="Asset/uploads/2018/01/lenti_organiche_polarizzate.jpg"
									data-color="#E3B55C">
									<div class="homeProdSlider__wrapper">
										<hr class="homeProdSlider__sep" /><a class="linkFrom"
														 href="">
											<h3 class="homeProdSlider__title boldTitle">Evergreen Sky Polar</h3>
										</a>
									</div>
								</li>
								<li class="lazy linkTo"
									data-src="Asset/uploads/2019/04/sunworld-fotocromatiche-visual.jpg"
									data-color="#E3B55C">
									<div class="homeProdSlider__wrapper">
										<hr class="homeProdSlider__sep" /><a class="linkFrom"
														 href="">
											<h3 class="homeProdSlider__title boldTitle">Photocromatic Lenses</h3>
										</a>
									</div>
								</li>
							</ul><span class="homeProdSlider__bg"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="homeProducts__qualita homeQual clearfix">
				<img class="homeQual__img lazy"
					 data-src="Asset/uploads/2019/04/Home-BannerB-1920x900.jpg" />
				<div class="container">
					<div class="homeProd__listBlock homeQual__listBlock col-sm-6 no-padding">
						<h2 class="title homeProd__title">Quality under the lens</h2>
						<div class="text">
							<p>
								Lenses constantly tested and monitored,<br />
								produced in accordance with the highest quality standards.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="homeProducts__zeroFamily homeProd clearfix">
				<div class="container">
					<div class="homeProd__listBlock col-sm-5 col-md-4 no-padding">
						<h2 class="title homeProd__title">Zero Family</h2>
						<div class="text homeProd__list">
							<p>
								Zero Fog and Zero Microx are specific products dedicated to care, protection and
								effective use thanks to their anti- fog, detergent and antistatic properties.
							</p>
						</div>
					</div>
					<div class="homeProd__gal col-sm-7 col-md-8 no-padding">
						<span class="homeProd__trigger"></span>
						<div class="homeProdSlider">
							<ul class="slides">
								<li class="lazy linkTo"
									data-src="Asset/uploads/2021/11/banner-Zero-Fog.jpg"
									data-color="#E3B55C">
									<div class="homeProdSlider__wrapper">
										<hr class="homeProdSlider__sep" /><a class="linkFrom"
														 href="">
											<h3 class="homeProdSlider__title boldTitle">Zero Fog</h3>
										</a>
										<h4 class="homeProdSlider__sub">
											No fog cleaner &amp; antistatic spray for
											all types of lenses
										</h4>
									</div>
								</li>
								<li class="lazy linkTo"
									data-src="Asset/uploads/2021/11/banner-Zero-Microx.jpg"
									data-color="#E3B55C">
									<div class="homeProdSlider__wrapper">
										<hr class="homeProdSlider__sep" /><a class="linkFrom"
														 href="">
											<h3 class="homeProdSlider__title boldTitle">Zero Microx</h3>
										</a>
										<h4 class="homeProdSlider__sub">
											Spray for protecting, maintaining
											and<br>prolonging the life of spectacles.
										</h4>
									</div>
								</li>
							</ul><span class="homeProdSlider__bg"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="homeProducts__contattologia homeProd clearfix">
				<div class="container">
					<div class="homeProd__listBlock col-sm-5 col-md-4 no-padding">
						<h2 class="title homeProd__title">Contactology</h2>
						<div class="text homeProd__list">
							<p>LTL contact lenses ensure to your eye high hydration and oxygenation.</p>
						</div>
					</div>
					<div class="homeProd__gal col-sm-7 col-md-8 no-padding">
						<span class="homeProd__trigger"></span>
						<div class="homeProdSlider">
							<ul class="slides">
								<li class="lazy linkTo"
									data-src="Asset/uploads/2021/11/levante-lenti.jpg"
									data-color="#E3B55C">
									<div class="homeProdSlider__wrapper">
										<hr class="homeProdSlider__sep" /><a class="linkFrom"
														 href="">
											<h3 class="homeProdSlider__title boldTitle">Contactology</h3>
										</a>
										<h4 class="homeProdSlider__sub">Contact Lenses</h4>
									</div>
								</li>
							</ul><span class="homeProdSlider__bg"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="homeServ container">
			<span id="home_serv_trigger"></span>
			<div class="homeProd__listBlock homeServ__listBlock col-sm-6 no-padding">
				<h2 class="title homeProd__title">Services</h2>
				<div class="text">
					<p>
						Reduce the operative costs<br />
						Promote your brand<br />
						Tailor-made Solutions
					</p>
				</div>
			</div>
			<div class="homeServ__list col-xs-12 no-padding">
				<div class="homeServ__serv">
					<img class="homeServ__icon lazy" src="" alt="" width="" />
					<h5 class="homeServ__title">Marketing<br />Services</h5><a class="homeServ__link arrowLink text-uppercase red"
																	 href="">
						Go
						<svg baseProfile="tiny"
							 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
						<g>
						<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
								</g>
							</svg>
					</a>
				</div>
				<div class="homeServ__serv">
					<img class="homeServ__icon lazy" src="" alt="" width="" />
					<h5 class="homeServ__title">Lab<br />Services</h5><a class="homeServ__link arrowLink text-uppercase red"
															   href="">
						Go
						<svg baseProfile="tiny"
							 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
						<g>
						<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
								</g>
							</svg>
					</a>
				</div>
				<div class="homeServ__serv">
					<img class="homeServ__icon lazy" src="" alt="" width="" />
					<h5 class="homeServ__title">Tailor-made<br />Services</h5><a class="homeServ__link arrowLink text-uppercase red"
																	   href="">
						Go
						<svg baseProfile="tiny"
							 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
						<g>
						<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
								</g>
							</svg>
					</a>
				</div>
				<div class="homeServ__serv">
					<img class="homeServ__icon lazy" src="" alt="" width="" />
					<h5 class="homeServ__title">IT<br />Services</h5><a class="homeServ__link arrowLink text-uppercase red"
															  href="">
						Go
						<svg baseProfile="tiny"
							 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
						<g>
						<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
								</g>
							</svg>
					</a>
				</div>
				<div class="homeServ__serv">
					<img class="homeServ__icon lazy" src="" alt="" width="" />
					<h5 class="homeServ__title">Logistic<br />Services</h5><a class="homeServ__link arrowLink text-uppercase red"
																	href="">
						Go
						<svg baseProfile="tiny"
							 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 5.6 14.5" width="5.6" height="14.5" xml:space="preserve">
						<g>
						<polygon points="0.8,14.5 0,14 4.4,7.3 0,0.5 0.8,0 5.6,7.3" />
								</g>
							</svg>
					</a>
				</div>
			</div>
		</div>
		<!-- GTM Container placement set to footer -->
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4QN37X" height="0" width="0"
					style="display:none;visibility:hidden" aria-hidden="true"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<script type='text/javascript' src='~/Asset/js/jquery-3.1.1.min.js' id='jquery-js'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.11/jquery.lazy.min.js"></script>

	    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" integrity="sha512-jNDtFf7qgU0eH/+Z42FG4fw3w7DM/9zbgNPe3wfJlCylVDTT3IgKW5r92Vy9IHa6U50vyMz5gRByIu4YIXFtaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="~/Asset/js/app/scripts/modules/jquery.lazy.min.js"></script>
		<script src="~/Asset/js/app/scripts/modules/jquery.lazy.plugins.min.js"></script>
 *@		
		<!--<script type='text/javascript'
			src='../plugins/SIM-google-maps/includes/scripts/noballon-gmap/scripts/gmap-it.js'
			id='jquery_maps-js'></script>  -->
		<script type='text/javascript' id='jquery_maps-js-after'>
			function initializeGmap() {
				var map = new google.maps.Map(document.getElementById("gmap_jquery"), {
					center: { lat: 45.9467784, lng: 12.8747266 },
					labelTitle: "LTL S.p.A",
					infowindow: "Via Clauzetto, 1, <br />33078 - San Vito al Tagliamento (PN)",
					zoom: 16,
				});
				var marker = new google.maps.Marker({
					position: { lat: 45.9467784, lng: 12.8747266 },
					icon: "https://localhost:7034/Asset/themes/default_theme/images/iconMap.png",
					map: map
				});

			}
		</script>
		@* <script type='text/javascript' src='~/Asset/plugins/contact-form-7/includes/swv/js/index.js'
				id='swv-js'></script> *@
		@*<script type='text/javascript' id='contact-form-7-js-extra'>
			/* <![CDATA[ */
			var wpcf7 = { "api": { "root": "https:\/\/www.ltllenses.it\/en\/wp-json\/", "namespace": "contact-form-7\/v1" } };
			/* ]]> */
		</script>*@
@* 		<script type='text/javascript' src='~/Asset/plugins/contact-form-7/includes/js/index.js'
				id='contact-form-7-js'></script> *@
		@*<script type='text/javascript' id='wpcf7-redirect-script-js-extra'>
			/* <![CDATA[ */
			var wpcf7r = { "ajax_url": "https:\/\/www.ltllenses.it\/wp-admin\/admin-ajax.php" };
			/* ]]> */
		</script>*@
		<script type='text/javascript' src='~/Asset/plugins/wpcf7-redirect/build/js/wpcf7r-fe.js'
				id='wpcf7-redirect-script-js'></script>
		<script type='text/javascript'
				src='~/Asset/plugins/duracelltomi-google-tag-manager/js/gtm4wp-contact-form-7-tracker.js'
				id='gtm4wp-contact-form-7-tracker-js'></script>
		<script type='text/javascript' src='~/Asset/js/functions.js' id='custom_wp_dis_js-js'></script>
		<script type='text/javascript'>
			jQuery(function ($) {
				if ($('#gmap_jquery').length) {
					$(window).on('load', function () {
						initializeGmap();
					})
				}
			});
		</script>
		@*<link rel="stylesheet" href="/dist/style/main.css">*@



		<!-- <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> -->


@* 		<script type="text/javascript">
			document.getElementById("cf7_submit").onclick = function () {
				sendToConsentSolution()
			};
			function sendToConsentSolution() {
				var inputName = document.getElementById("cf7_nome").value;
				var inputEmail = document.getElementById("cf7_email").value;
				var inputMessage = document.getElementById("cf7_message").value;
				var subjectId = inputEmail.toLowerCase().replace(/\W/g, '-');
				_iub.cons.submit({
					form: {
						selector: document.getElementById("cf7_richiesta_info"),
						map: {
							subject: {
								first_name: "nome",
								email: "email"
							},
							preferences: {
								generic: "acceptance"
							}
						}
					},
					consent: {
						subject: {
							id: inputMessage
						},
						legal_notices: [
							{ identifier: "privacy_policy" },
							{ identifier: "cookie_policy" }
						]
					}
				})
			}
		</script> *@
	</div>
</div>
<script src="~/Asset/js/page_home.js" async></script>
