<footer class="footer">
	@*<div class="footer__langs container no-padding">
		<ul class="language_switcher">
			<li class="active_lang">
				<a class="no-click" href="#">English</a>
				<ul class="langs_sub">
					<li><a href="https://www.ltllenses.it/">Italiano</a></li>
				</ul>
			</li>
		</ul>
	</div>*@
	<div class="footer__menuWrapper clearfix">
		<div class="container no-padding">
			<div class="col-sm-12 no-padding footer__split">
				<nav id="main_nav" class="menu-footer_nav-eng-container">
					<ul id="menu-footer_nav-eng" class="nav navbar-nav footer_nav menu_footer">
						<li id="menu-item-9242"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4321 current_page_item menu-item-9242 menu-page-4321">
							<a href="index.html" aria-current="page">Home</a>
						</li>
						<li id="menu-item-9243"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9243 menu-page-4259">
							<a href="company/index.html">Company</a>
						</li>
						<li id="menu-item-9244"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9244 menu-page-4261">
							<a href="contacts/index.html">Contacts</a>
						</li>
						<li id="menu-item-9245"
							class="area-clienti button button--whiteRed menu-item menu-item-type-custom menu-item-object-custom menu-item-9245 menu-custom-9245">
							<a title="Eye commerce" target="_blank" rel="noopener noreferrer"
							   href="https://eyecommerce.ltllenses.it/">EyeCommerce</a>
						</li>
						<li id="menu-item-9246"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9246 menu-page-6676">
							<a href="privacy-policy/index.html">Privacy</a>
						</li>
						<li id="menu-item-9247"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9247 menu-page-6680">
							<a href="cookie-policy/index.html">Cookie policy</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="footer__bottom clearfix">
		<div class="container no-padding">
			<div class="col-sm-6 no-padding">
				<div class="footer__logo">
					<!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42px" height="42px"
										viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
										<g>
											<path fill="#CFD1D2" d="M26,29.6l-0.4-0.4l2.5-10.9l0.5-0.6h5.5l0.4,0.5l-1.7,7.3l0.6,0.5h8c0.4-1.6,0.6-3.2,0.6-5C42,9.4,32.6,0,21,0
					S0,9.4,0,21s9.4,21,21,21c8.5,0,15.9-5.1,19.2-12.4H26z M22.5,29L22,29.5H6.8l-0.4-0.4l2.5-10.9l0.5-0.6h5.5l0.5,0.5l-1.7,7.3
					l0.6,0.5h8.2l0.6,0.5L22.5,29z M23.7,23.8l-0.5,0.6h-5.5l-0.5-0.5l1.7-7.3L18.3,16h-8.2l-0.6-0.5l0.6-2.5l0.5-0.6l0,0h9.2l0,0H27
					l0,0h4.1l0,0h4.1l0.6,0.5l-0.6,2.5L34.7,16l0,0h-8.8l0,0l-0.5,0.5L23.7,23.8z" />
										</g>
									</svg>-->
					<img src="~/Asset/images/HorizonLogoWNR-removebg.png" width="50px" height="50px" style="margin-bottom:25px" />
				</div>
				<div class="footer__dati">
					<strong class="text-uppercase">Horizon Lenses and Accessories Company</strong><br />
					<p>
						Al Tadamun Building Complex<br />
						Room #5, 2nd Floor<br />
						Buliding #289, Zone #43<br />
						Street #250,<br />
						D-Ring Road, Doha, Qatar<br />
					</p>
					<a href="tel:012345678">Tel. 0123 234567</a> - P.I. 0000000
				</div>
			</div>
			<div class="col-sm-6 footer__nl"></div>
		</div>
	</div>
</footer>