
<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__logo col-md-2 no-padding">
				<a href="index.html">
					<img alt="" src="~/Asset/images/HorizonLogo.png" width="130.7px" height="69.8px" style="enable-background:new 0 0 69.7 69.8;" />
				</a>
			</div><span class="search_toggle search_toggle--mob">Search</span>
			<div class="hidden-sm hidden-md hidden-lg header__hamburger closed">
				<span></span><span></span><span></span><span></span>
			</div>
			<div class="header__menu hidden-xs col-md-10 no-padding">
				<nav id="main_nav" class="menu-main_nav-eng-container">
					<ul id="menu-main_nav-eng" class="nav navbar-nav text-right sf-menu">
						<li id="menu-item-4627"
							class="hidden-xs hidden-sm menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4321 current_page_item menu-item-4627 menu-page-4321">
							<a title="Home" href="index.html" aria-current="page">Home</a>
						</li>
						<li id="menu-item-1406"
							class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1406 menu-category-12">
							<a title="News" href="index.html">News</a>
						</li>
						<li id="menu-item-4628"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4628 menu-page-4259">
							<a title="Azienda" href="index.html">Company</a>
						</li>
						<li id="menu-item-4630"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4630 menu-page-4261">
							<a title="Contatti" href="index.html">Contacts</a>
						</li>
						<li id="menu-item-4629"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4629 menu-custom-4629">
							<a title="Academy" href="index.html">Academy</a>
						</li>
						<li id="menu-item-4631"
							class="search_toggle hidden-xs footer-hide menu-item menu-item-type-custom menu-item-object-custom menu-item-4631 menu-custom-4631">
							<a title="Search" href="#">Search</a>
						</li>
						<li id="menu-item-1409"
							class="area-clienti button button--whiteRed menu-item menu-item-type-custom menu-item-object-custom menu-item-1409 menu-custom-1409">
							<a title="Eye commerce" target="_blank" rel="noopener noreferrer"
							   href="void(0)">EyeCommerce</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="header__bottom hidden-xs">
		<nav id="prods_nav" class="menu-prod_nav-container">
			<ul id="menu-prod_nav" class="nav navbar-nav container sf-menu">
				<li class="prods_nav_item ophthalmic menu-item menu-item-type-post_type menu-item-object-page menu-page-4230">
					<span class="click_overlay"></span><a href="#" class="no-click">Clear Lenses</a>
					<div class="first_lev_child">
						<div class="container no-padding">
							<div class="sub_nav clearfix">
								<div class="col-xs-12 col-sm-11 col-md-10 col-lg-7 sub_nav_prods_list no-padding-left">
									<div class="cpFirst page-types-of-lenses" data-page="types-of-lenses">
										<h5 class="cp__title">
											Types of Lenses<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="finished-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Finished
													lenses
												</a>
											</li>
											<li data-page="semifinished-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Semifinished
													lenses
												</a>
											</li>
											<li data-page="rx-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													RX
													Lenses
												</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-materials-and-coatings"
										 data-page="materials-and-coatings">
										<h5 class="cp__title">
											Materials & Coatings<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="organic-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Organic
													lenses
												</a>
											</li>
											<li data-page="mineral-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Mineral
													lenses
												</a>
											</li>
											<li data-page="coatings">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Coatings</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-featured-products" data-page="featured-products">
										<h5 class="cp__title">
											Featured products<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="vision-defence">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Vision
													Defence
												</a>
											</li>
											<li data-page="1-6-evolution">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													1.6
													Evolution
												</a>
											</li>
											<li data-page="nocturna">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Nocturna</a>
											</li>
											<li data-page="green-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Green
													Lenses
												</a>
											</li>
											<li data-page="icon">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Icon</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="hidden-xs hidden-sm hidden-md col-lg-5 sub_nav_img_list no-padding-right text-right">
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-oftalm-main-Finite-900x385.jpg"
										 data-feat="finished-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-oftalm-main-Semifinite-900x385.jpg"
										 data-feat="semifinished-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-oftalm-main-RX-900x385.jpg"
										 data-feat="rx-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/lenti-organiche-visual-900x422.jpg"
										 data-feat="organic-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/lenti-minerali-visual-900x422.jpg"
										 data-feat="mineral-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/lenti-trattamenti-visual-900x422.jpg"
										 data-feat="coatings"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/vision-defence-visual-900x422.jpg"
										 data-feat="vision-defence"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/02/evolution-800x478.jpg"
										 data-feat="1-6-evolution"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/nocturna-visual-900x422.jpg"
										 data-feat="nocturna"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-oftalm-main-RX-900x385.jpg"
										 data-feat="green-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/09/visual_icon-1-900x422.jpg"
										 data-feat="icon"></div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="prods_nav_item solar menu-item menu-item-type-post_type menu-item-object-page menu-page-4251">
					<span class="click_overlay"></span><a href="#" class="no-click">Sun Lenses</a>
					<div class="first_lev_child">
						<div class="container no-padding">
							<div class="sub_nav clearfix">
								<div class="col-xs-12 col-sm-11 col-md-10 col-lg-7 sub_nav_prods_list no-padding-left">
									<div class="cpFirst page-types-of-lenses" data-page="types-of-lenses">
										<h5 class="cp__title">
											Types of Lenses<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="sun-tinting">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Sun
													Tinting
												</a>
											</li>
											<li data-page="mirrored-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Mirrored
													lenses
												</a>
											</li>
											<li data-page="photocromatic-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Photocromatic
													Lenses
												</a>
											</li>
											<li data-page="mineral-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Mineral
													Lenses
												</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-materials" data-page="materials">
										<h5 class="cp__title">
											Materials<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="cr39">
												<a class="linkFrom cp__pageList"
												   href="void(0)">CR39</a>
											</li>
											<li data-page="poly">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Poly</a>
											</li>
											<li data-page="nylon">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Nylon</a>
											</li>
											<li data-page="trivex">
												<a class="linkFrom cp__pageList"
												   href="void(0)">TRIVEX ®</a>
											</li>
											<li data-page="tac">
												<a class="linkFrom cp__pageList"
												   href="void(0)">TAC</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-featured-products" data-page="featured-products">
										<h5 class="cp__title">
											Featured products<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="flash-to-mirror">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Flash
													to Mirror
												</a>
											</li>
											<li data-page="fashion-colors">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Fashion
													Colors
												</a>
											</li>
											<li data-page="evergreen-sky-polar">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Evergreen
													Sky Polar
												</a>
											</li>
											<li data-page="mineral-fashion">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Mineral
													Fashion
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="hidden-xs hidden-sm hidden-md col-lg-5 sub_nav_img_list no-padding-right text-right">
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-tinted-visual-900x422.jpg"
										 data-feat="sun-tinting"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/02/sunplano.jpg"
										 data-feat="mirrored-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-fotocromatiche-visual-900x422.jpg"
										 data-feat="photocromatic-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-mineral-visual-900x422.jpg"
										 data-feat="mineral-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-CR39-900x422.jpg"
										 data-feat="cr39"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/polycarbonate_visual-900x384.jpg"
										 data-feat="poly"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-Nylon-900x422.jpg"
										 data-feat="nylon"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/trivex_visual-900x384.jpg"
										 data-feat="trivex"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/tac_visual-900x384.jpg"
										 data-feat="tac"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-solar-trattam-FlashToMirr-900x385.jpg"
										 data-feat="flash-to-mirror"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-tinte-fashion-visual-900x422.jpg"
										 data-feat="fashion-colors"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/05/sky_polar_visual-900x422.jpg"
										 data-feat="evergreen-sky-polar"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/mineral-fashion-visual-900x422.jpg"
										 data-feat="mineral-fashion"></div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="prods_nav_item green-lenses menu-item menu-item-type-post_type menu-item-object-page menu-page-10127">
					<span class="click_overlay"></span><a href="void(0)" class="clickable">
						Green
						Lenses
					</a>
				</li>
				<li class="prods_nav_item contact-lenses-and-solutions menu-item menu-item-type-post_type menu-item-object-page menu-page-9704">
					<span class="click_overlay"></span><a href="void(0)"
													 class="clickable">Contactology</a>
				</li>
				<li class="prods_nav_item zero-family menu-item menu-item-type-post_type menu-item-object-page menu-page-9693">
					<span class="click_overlay"></span><a href="#" class="no-click">Zero Family</a>
					<div class="first_lev_child">
						<div class="container no-padding">
							<div class="sub_nav clearfix">
								<div class="col-xs-12 col-sm-11 col-md-10 col-lg-7 sub_nav_prods_list no-padding-left">
									<div class="cpFirst page-zero-family" data-page="zero-family">
										<h5 class="cp__title">
											Zero Family<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="zero-fog">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Zero Fog</a>
											</li>
											<li data-page="zero-microx">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Zero
													Microx
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="hidden-xs hidden-sm hidden-md col-lg-5 sub_nav_img_list no-padding-right text-right">
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2021/11/banner-Zero-Fog-900x384.jpg"
										 data-feat="zero-fog"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2021/11/banner-Zero-Microx-900x384.jpg"
										 data-feat="zero-microx"></div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="prods_nav_item complementary menu-item menu-item-type-post_type menu-item-object-page menu-page-4260">
					<span class="click_overlay"></span><a href="void(0)"
													 class="clickable">Complementary</a>
				</li>
				<li class="prods_nav_item services menu-item menu-item-type-post_type menu-item-object-page menu-page-4268">
					<span class="click_overlay"></span><a href="#" class="no-click">Services</a>
					<div class="first_lev_child">
						<div class="container no-padding">
							<div class="sub_nav clearfix">
								<div class="col-xs-12 no_images sub_nav_prods_list no-padding-left">
									<div class="cpFirst page-marketing-services" data-page="marketing-services">
										<h5 class="cp__title">
											Marketing services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="product-communication">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Product
													communication
												</a>
											</li>
											<li data-page="marketing-tools">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Marketing
													tools
												</a>
											</li>
											<li data-page="additional-products">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Additional
													products
												</a>
											</li>
											<li data-page="promotional">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Promotional</a>
											</li>
											<li data-page="web">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Web</a>
											</li>
											<li data-page="formative-services">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Formative
													services
												</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-lab-services" data-page="lab-services">
										<h5 class="cp__title">
											Lab services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Measurement &
													Inspections
												</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Enviromental</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Hardness</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Resistance</a>
											</li>
										</ul>
										<ul class="cp_wrapper"></ul>
									</div>
									<div class="cpFirst page-tailor-made-services" data-page="tailor-made-services">
										<h5 class="cp__title">
											Tailor-made services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Bag
													packaging
												</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Engraving</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Mass coating</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Remote
													Edging
												</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Services with
													use of tracker
												</a>
											</li>
										</ul>
										<ul class="cp_wrapper"></ul>
									</div>
									<div class="cpFirst page-it-services" data-page="it-services">
										<h5 class="cp__title">
											IT services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Eyecommerce</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">LensUP</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">IT Integrations</a>
											</li>
										</ul>
										<ul class="cp_wrapper"></ul>
									</div>
									<div class="cpFirst page-logistic-services" data-page="logistic-services">
										<h5 class="cp__title">
											Logistic services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Daily Shipment</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Crossdocking</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Fulfilment</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Consigment
													stock
												</a>
											</li>
										</ul>
										<ul class="cp_wrapper"></ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header__mobile hidden-sm hidden-md hidden-lg">
		<nav id="prods_nav" class="menu-prod_nav-container">
			<ul id="menu-prod_nav" class="nav navbar-nav container sf-menu">
				<li class="prods_nav_item ophthalmic menu-item menu-item-type-post_type menu-item-object-page menu-page-4230">
					<span class="click_overlay"></span><a href="#" class="no-click">Clear Lenses</a>
					<div class="first_lev_child">
						<div class="container no-padding">
							<div class="sub_nav clearfix">
								<div class="col-xs-12 col-sm-11 col-md-10 col-lg-7 sub_nav_prods_list no-padding-left">
									<div class="cpFirst page-types-of-lenses" data-page="types-of-lenses">
										<h5 class="cp__title">
											Types of Lenses<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="finished-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Finished
													lenses
												</a>
											</li>
											<li data-page="semifinished-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Semifinished
													lenses
												</a>
											</li>
											<li data-page="rx-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													RX
													Lenses
												</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-materials-and-coatings"
										 data-page="materials-and-coatings">
										<h5 class="cp__title">
											Materials & Coatings<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="organic-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Organic
													lenses
												</a>
											</li>
											<li data-page="mineral-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Mineral
													lenses
												</a>
											</li>
											<li data-page="coatings">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Coatings</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-featured-products" data-page="featured-products">
										<h5 class="cp__title">
											Featured products<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="vision-defence">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Vision
													Defence
												</a>
											</li>
											<li data-page="1-6-evolution">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													1.6
													Evolution
												</a>
											</li>
											<li data-page="nocturna">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Nocturna</a>
											</li>
											<li data-page="green-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Green
													Lenses
												</a>
											</li>
											<li data-page="icon">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Icon</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="hidden-xs hidden-sm hidden-md col-lg-5 sub_nav_img_list no-padding-right text-right">
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-oftalm-main-Finite-900x385.jpg"
										 data-feat="finished-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-oftalm-main-Semifinite-900x385.jpg"
										 data-feat="semifinished-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-oftalm-main-RX-900x385.jpg"
										 data-feat="rx-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/lenti-organiche-visual-900x422.jpg"
										 data-feat="organic-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/lenti-minerali-visual-900x422.jpg"
										 data-feat="mineral-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/lenti-trattamenti-visual-900x422.jpg"
										 data-feat="coatings"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/vision-defence-visual-900x422.jpg"
										 data-feat="vision-defence"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/02/evolution-800x478.jpg"
										 data-feat="1-6-evolution"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/nocturna-visual-900x422.jpg"
										 data-feat="nocturna"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-oftalm-main-RX-900x385.jpg"
										 data-feat="green-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/09/visual_icon-1-900x422.jpg"
										 data-feat="icon"></div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="prods_nav_item solar menu-item menu-item-type-post_type menu-item-object-page menu-page-4251">
					<span class="click_overlay"></span><a href="#" class="no-click">Sun Lenses</a>
					<div class="first_lev_child">
						<div class="container no-padding">
							<div class="sub_nav clearfix">
								<div class="col-xs-12 col-sm-11 col-md-10 col-lg-7 sub_nav_prods_list no-padding-left">
									<div class="cpFirst page-types-of-lenses" data-page="types-of-lenses">
										<h5 class="cp__title">
											Types of Lenses<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="sun-tinting">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Sun
													Tinting
												</a>
											</li>
											<li data-page="mirrored-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Mirrored
													lenses
												</a>
											</li>
											<li data-page="photocromatic-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Photocromatic
													Lenses
												</a>
											</li>
											<li data-page="mineral-lenses">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Mineral
													Lenses
												</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-materials" data-page="materials">
										<h5 class="cp__title">
											Materials<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="cr39">
												<a class="linkFrom cp__pageList"
												   href="void(0)">CR39</a>
											</li>
											<li data-page="poly">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Poly</a>
											</li>
											<li data-page="nylon">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Nylon</a>
											</li>
											<li data-page="trivex">
												<a class="linkFrom cp__pageList"
												   href="void(0)">TRIVEX ®</a>
											</li>
											<li data-page="tac">
												<a class="linkFrom cp__pageList"
												   href="void(0)">TAC</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-featured-products" data-page="featured-products">
										<h5 class="cp__title">
											Featured products<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="flash-to-mirror">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Flash
													to Mirror
												</a>
											</li>
											<li data-page="fashion-colors">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Fashion
													Colors
												</a>
											</li>
											<li data-page="evergreen-sky-polar">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Evergreen
													Sky Polar
												</a>
											</li>
											<li data-page="mineral-fashion">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Mineral
													Fashion
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="hidden-xs hidden-sm hidden-md col-lg-5 sub_nav_img_list no-padding-right text-right">
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-tinted-visual-900x422.jpg"
										 data-feat="sun-tinting"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/02/sunplano.jpg"
										 data-feat="mirrored-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-fotocromatiche-visual-900x422.jpg"
										 data-feat="photocromatic-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-mineral-visual-900x422.jpg"
										 data-feat="mineral-lenses"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-CR39-900x422.jpg"
										 data-feat="cr39"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/polycarbonate_visual-900x384.jpg"
										 data-feat="poly"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-Nylon-900x422.jpg"
										 data-feat="nylon"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/trivex_visual-900x384.jpg"
										 data-feat="trivex"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/tac_visual-900x384.jpg"
										 data-feat="tac"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/06/menu-solar-trattam-FlashToMirr-900x385.jpg"
										 data-feat="flash-to-mirror"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/sunworld-tinte-fashion-visual-900x422.jpg"
										 data-feat="fashion-colors"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2018/05/sky_polar_visual-900x422.jpg"
										 data-feat="evergreen-sky-polar"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2019/04/mineral-fashion-visual-900x422.jpg"
										 data-feat="mineral-fashion"></div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="prods_nav_item green-lenses menu-item menu-item-type-post_type menu-item-object-page menu-page-10127">
					<span class="click_overlay"></span><a href="void(0)" class="clickable">
						Green
						Lenses
					</a>
				</li>
				<li class="prods_nav_item contact-lenses-and-solutions menu-item menu-item-type-post_type menu-item-object-page menu-page-9704">
					<span class="click_overlay"></span><a href="void(0)"
													 class="clickable">Contactology</a>
				</li>
				<li class="prods_nav_item zero-family menu-item menu-item-type-post_type menu-item-object-page menu-page-9693">
					<span class="click_overlay"></span><a href="#" class="no-click">Zero Family</a>
					<div class="first_lev_child">
						<div class="container no-padding">
							<div class="sub_nav clearfix">
								<div class="col-xs-12 col-sm-11 col-md-10 col-lg-7 sub_nav_prods_list no-padding-left">
									<div class="cpFirst page-zero-family" data-page="zero-family">
										<h5 class="cp__title">
											Zero Family<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="zero-fog">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Zero Fog</a>
											</li>
											<li data-page="zero-microx">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Zero
													Microx
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="hidden-xs hidden-sm hidden-md col-lg-5 sub_nav_img_list no-padding-right text-right">
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2021/11/banner-Zero-Fog-900x384.jpg"
										 data-feat="zero-fog"></div>
									<div class="cp__feat lazy"
										 data-src="Asset/uploads/2021/11/banner-Zero-Microx-900x384.jpg"
										 data-feat="zero-microx"></div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="prods_nav_item complementary menu-item menu-item-type-post_type menu-item-object-page menu-page-4260">
					<span class="click_overlay"></span><a href="void(0)"
													 class="clickable">Complementary</a>
				</li>
				<li class="prods_nav_item services menu-item menu-item-type-post_type menu-item-object-page menu-page-4268">
					<span class="click_overlay"></span><a href="#" class="no-click">Services</a>
					<div class="first_lev_child">
						<div class="container no-padding">
							<div class="sub_nav clearfix">
								<div class="col-xs-12 no_images sub_nav_prods_list no-padding-left">
									<div class="cpFirst page-marketing-services" data-page="marketing-services">
										<h5 class="cp__title">
											Marketing services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li data-page="product-communication">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Product
													communication
												</a>
											</li>
											<li data-page="marketing-tools">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Marketing
													tools
												</a>
											</li>
											<li data-page="additional-products">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Additional
													products
												</a>
											</li>
											<li data-page="promotional">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Promotional</a>
											</li>
											<li data-page="web">
												<a class="linkFrom cp__pageList"
												   href="void(0)">Web</a>
											</li>
											<li data-page="formative-services">
												<a class="linkFrom cp__pageList"
												   href="void(0)">
													Formative
													services
												</a>
											</li>
										</ul>
									</div>
									<div class="cpFirst page-lab-services" data-page="lab-services">
										<h5 class="cp__title">
											Lab services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Measurement &
													Inspections
												</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Enviromental</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Hardness</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Resistance</a>
											</li>
										</ul>
										<ul class="cp_wrapper"></ul>
									</div>
									<div class="cpFirst page-tailor-made-services" data-page="tailor-made-services">
										<h5 class="cp__title">
											Tailor-made services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Bag
													packaging
												</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Engraving</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Mass coating</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Remote
													Edging
												</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Services with
													use of tracker
												</a>
											</li>
										</ul>
										<ul class="cp_wrapper"></ul>
									</div>
									<div class="cpFirst page-it-services" data-page="it-services">
										<h5 class="cp__title">
											IT services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Eyecommerce</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">LensUP</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">IT Integrations</a>
											</li>
										</ul>
										<ul class="cp_wrapper"></ul>
									</div>
									<div class="cpFirst page-logistic-services" data-page="logistic-services">
										<h5 class="cp__title">
											Logistic services<span class="mob_toggle hidden-sm hidden-md hidden-lg"></span>
										</h5>
										<ul class="cp_wrapper">
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Daily Shipment</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Crossdocking</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">Fulfilment</a>
											</li>
											<li class="">
												<a class="cp__pageList"
												   href="void(0)">
													Consigment
													stock
												</a>
											</li>
										</ul>
										<ul class="cp_wrapper"></ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</nav>
		<nav id="main_nav" class="menu-main_nav-eng-container">
			<ul id="menu-main_nav-eng" class="nav navbar-nav text-right sf-menu">
				<li id="menu-item-4627"
					class="hidden-xs hidden-sm menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4321 current_page_item menu-item-4627 menu-page-4321">
					<a title="Home" href="index.html" aria-current="page">Home</a>
				</li>
				<li id="menu-item-1406"
					class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1406 menu-category-12">
					<a title="News" href="void(0)">News</a>
				</li>
				<li id="menu-item-4628"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4628 menu-page-4259">
					<a title="Azienda" href="void(0)">Company</a>
				</li>
				<li id="menu-item-4630"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4630 menu-page-4261">
					<a title="Contatti" href="void(0)">Contacts</a>
				</li>
				<li id="menu-item-4629"
					class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4629 menu-custom-4629">
					<a title="Academy" href="void(0)">Academy</a>
				</li>
				<li id="menu-item-4631"
					class="search_toggle hidden-xs footer-hide menu-item menu-item-type-custom menu-item-object-custom menu-item-4631 menu-custom-4631">
					<a title="Search" href="#">Search</a>
				</li>
				<li id="menu-item-1409"
					class="area-clienti button button--whiteRed menu-item menu-item-type-custom menu-item-object-custom menu-item-1409 menu-custom-1409">
					<a title="Eye commerce" target="_blank" rel="noopener noreferrer"
					   href="https://eyecommerce.ltllenses.it/">EyeCommerce</a>
				</li>
			</ul>
		</nav>
		@* <div class="header__langs footer__langs no-padding">
			<ul class="language_switcher">
				<li class="active_lang">
					<a class="no-click" href="#">English</a>
					<ul class="langs_sub">
						<li><a href="https://www.ltllenses.it/">Italiano</a></li>
					</ul>
				</li>
			</ul>
		</div> *@
	</div>
	<div class="header__searchBlock">
		<span class="header__searchClose"></span>
		<form action="https://www.ltllenses.it/en/" class="searchForm container" id="searchform" method="get">
			<strong class="searchForm__label">Search for a topic or product</strong>
			<div>
				<input type="search" class="searchForm__input" name="s" value="" placeholder="Search" />
				<input type="submit" value="Search" id="searchsubmit" class="searchForm__btn button button--red" />
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
</header>